<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link href="/image/logo_maxmega.png" rel="shortcut icon icons" type="image/png">
	<title>Maxmega Communication</title>
</head>
<body class="bg-white">
	<div class="mt-5 pt-3"></div>
    <div class="container">
        <div class="col-lg-4 mx-auto">
            <div class="pt-4 pb-3">
                <center>
                    <a href="#">
                        <img src="/image/logo_maxmega.png" style="width:auto; height: 150px;">
                    </a>
                </center>
                <br>
                <center>
                    <h5>Maxmega Team</h5>
                </center>
                <form action="/login" method="post">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" name="username" class="form-control" required='required' placeholder="Enter your username">
                    </div>
                    <div class="form-group">
						<label>Password</label>
						<input type="password" name="password" class="form-control" required='required' placeholder="Enter your password">
					</div>
                    <input type="submit" class="btn btn-primary btn-block mt-4" value="Sign In" name="signin">
                </form>
            </div>
        </div>
    </div>
    <!-- Script JS -->
    <script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
</body>
</html>